<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.measureapplication">

    <application
        android:name=".MeasureApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".AnimationActivity"></activity>
        <activity android:name=".Print2Activity" />
        <activity android:name=".SelectBeverageActivity" />
        <activity android:name=".selectCategoryActivity" />
        <activity android:name=".InputActivity" />
        <activity android:name=".PrintActivity" />
        <activity android:name=".BarcodeReader2Activity" />
        <activity android:name=".BarcodeReaderActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".Choose2Activity" />
        <activity android:name=".Choose1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>